body {
  background-color: rgba(248, 249, 255, 0.927);
}

h2 {
  color: rgb(86, 202, 90);
}

article {
  padding: 30px;
}

ul {
  font-size: larger;
}

#article1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 3px ridge rgb(255, 179, 254);
  border-radius: 5px;
}

#article2 {
  font-family: 'Courier New', Courier, monospace;
  border: 5px groove rgb(125, 201, 242);
}

#article3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 7px double rgb(175, 60, 233);
}
